body {
    font-family: Arial, sans-serif;
    background-color: #dfc39b;
    margin: 0;
    padding: 0;
}
form {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    color: #fff;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  input[type="text"],
  input[type="email"],
  input[type="USN"],
  input[type="tel"]
  select {
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  .error {
    color: red;
  }
 